examples/udp_server/doc/remote.json
[{"id":"cd93c92b.40ca88","type":"tab","label":"Sheet 1"},{"id":"828e8e82.2875","type":"udp out","z":"cd93c92b.40ca88","name":"","addr":"172.18.0.5","iface":"","port":"5683","ipv":"udp4","outport":"900","base64":false,"multicast":"false","x":490,"y":220,"wires":[]},{"id":"be0a0f60.bb00d","type":"inject","z":"cd93c92b.40ca88","name":"","topic":"","payload":"hola server","payloadType":"str","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":220,"wires":[["828e8e82.2875","ec4cad4f.a2225"]]},{"id":"869634b7.fce6e8","type":"debug","z":"cd93c92b.40ca88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":380,"wires":[]},{"id":"e817699d.20b0a8","type":"udp in","z":"cd93c92b.40ca88","name":"","iface":"","port":"3333","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":420,"y":380,"wires":[["869634b7.fce6e8"]]},{"id":"ec4cad4f.a2225","type":"debug","z":"cd93c92b.40ca88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":520,"y":80,"wires":[]},{"id":"47fc6061.24ee","type":"udp in","z":"cd93c92b.40ca88","name":"","iface":"","port":"900","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":430,"y":460,"wires":[["d9516746.ef8828"]]},{"id":"d9516746.ef8828","type":"debug","z":"cd93c92b.40ca88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":660,"y":460,"wires":[]}]